// css button, title, icon, elements...
img {
  max-width: 100%;
  height: auto;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -moz-user-select: none;
  user-select: none;
  display: block;
  outline: 0;
  object-fit: contain;

  &.--center {
    margin: 0 auto;
    display: block;
  }
}

a {
  text-decoration: none;
  outline: 0;
}

strong {
  font-family: Pb; //optional
}

.--hidden {
  display: none;
}

sub {
  vertical-align: sub;
  font-size: smaller;
}

sup {
  vertical-align: super;
  font-size: smaller;
}

.--h2 {
  @include text(dmb, var(--fs-h2), var(--lh-h2), var(--ls-h2), var(--white-cl), none);
}

main {
  padding-top: var(--height-header);
}

.textbox {
  &.center {
    text-align: center;

    .des {
      max-width: 606px;
      margin: 0 auto;
    }
  }

  .heading {
    &.--h1 {
      @include text(dmb, var(--fs-h1), var(--lh-h1), var(--ls-h1), var(--white-cl), none)
    }

    &.--h2 {
      @include text(dmb, var(--fs-h2), var(--lh-h2), var(--ls-h2), var(--white-cl), none);
    }

    &.--h3 {
      @include text(dmb, var(--fs-h3), var(--lh-h3), none, var(--white-cl), uppercase);
    }

    @include sm {
      &.--h1 {
        @include text(dmb, var(--fs-h1-m), var(--lh-h1-m), var(--ls-h1-m), var(--white-cl), none)
      }

      &.--h2 {
        @include text(dmb, var(--fs-h2-m), var(--lh-h2-m), var(--ls-h2-m), var(--white-cl), none)
      }
    }
  }

  .des {
    @include text(dmr, var(--fs-body-1), var(--lh-body-1), var(--ls-body-1), var(--white-cl), none);

    @include sm {
      @include body-1-m;
    }
  }

  &.between {
    @include midbetween();
    padding-bottom: 36px;

    .des {
      max-width: 461px;
    }
  }
}

.info {
  display: flex;
  align-items: center;

  img {
    border-radius: 50%;
  }

  .name {
    margin-left: 22px;

    .title {
      @include text(dmb, var(--fs-text-info), var(--lh-text-info), var(--ls-text-info), var(--white-cl), uppercase);
      padding-bottom: 6px
    }

    .review {
      @include text(dmr, var(--fs-text-info), var(--lh-text-info), var(--ls-text-info), var(--white-cl), uppercase);
    }

    span {
      display: flex;
      flex-direction: row;
    }
  }
}

.title {
  @include text(dmb, var(--fs-label), var(--lh-label), var(--ls-label), var(--white-cl), uppercase);
}

//===============================================================

.group__btn {
  display: flex;
  gap: var(--gap);
}

.btnmain {
  @include mid(true);
  background-color: var(--blue-cl);
  border-radius: 80px;
  height: 70px;
  padding: 27px 32px;
  @include text(dmb, var(--fs-text-button), var(--lh-text-button), var(--ls-text-button), var(--white-cl), uppercase);
  cursor: pointer;
  transition: var(--t);

  span {
    white-space: nowrap;
  }

  &:hover {
    transition: var(--t);
    background-color: var(--blueblack-cl);
  }

  &.small {
    gap: 10px;
    height: 56px;
    padding: 27px 32px;
  }

  &.pr {
    height: 36px;
    width: max-content;
    border-radius: 40px;
    padding: 9px 14px 9px 14px;
    @include text(dmm, var(--fs-text-tag), var(--lh-text-tag), var(--ls-text-tag), var(--white-cl), uppercase);
  }

  &.smaller {
    height: 36px;
    position: absolute;
    left: 23px;
    transform: translateY(-50%);
    width: max-content;
    border-radius: 40px;
    padding: 9px 14px 9px 14px;
    @include text(dmm, var(--fs-text-tag), var(--lh-text-tag), var(--ls-text-tag), var(--white-cl), uppercase);
  }

  &.center {
    cursor: pointer;
    margin: 48px auto 0px auto;
    width: max-content;
    padding: 25px 30px;
  }

  &.white {
    background-color: var(--white-cl);
    color: var(--blue-cl);
    width: max-content;

    &:hover {
      color: var(--white-cl);
      transition: var(--t);
      background-color: var(--blueblack-cl);
    }
  }

  &.--cl-gray {
    background: rgba(255, 255, 255, 0.1);
    color: var(--white-cl);
  }

  &.gray {
    background: rgba(255, 255, 255, 0.1);
    color: var(--white-cl);
    width: max-content;
    margin: 48px auto 0px auto;

    &:hover {
      transition: var(--t);
      background-color: var(--blue-cl);
    }
  }
}

.box {
  background-color: var(--blueblack-cl);
  border-radius: 40px;
  padding: 48px 23px 48px 22px;

  .title {
    @include text(dmb, var(--fs-label), var(--lh-label), var(--ls-label), var(--white-cl), uppercase);
    padding: 20px 0 7px 0;
  }

  .des {
    @include text(dmr, var(--fs-body-2), var(--lh-body-2), var(--ls-body-2), var(--white-cl), none);
  }
}

.thumbnail {
  background-color: var(--blueblack-cl);
  border-radius: 40px;
  position: relative;
  overflow: hidden;

  .item_img {
    img {
      width: 100%;
    }
  }

  .title_content {
    padding: 42px 30px 30px 23px;

    .textbox {
      .heading {
        margin-bottom: 14px;
      }

      p {
        @include text(dmr, var(--fs-body-1), var(--lh-body-1), var(--ls-body-1), var(--white-cl), none);

        &::after {
          content: "";
          display: block;
          width: initial;
          height: 1px;
          background: rgba(255, 255, 255, 0.1);
          margin: 29px 0px 27px 0px;
        }
      }
    }
  }
}

.thumbnail__2 {
  .textbox {
    .des {
      max-width: 470px;
      margin: 24px 0px 40px 0px;
    }
  }

  .thumbnail__list {
    display: flex;
    align-items: center;
    gap: 17px;
    margin-bottom: 17px;
  }
}

.posts {
  padding: 65px 50px 66px;
  width: calc((var(--max-width-container) - var(--gap)) / 2);
  border-radius: 40px;
  background: var(--blueblack-cl);
  margin-right: 16px;

}

.author {
  display: flex;
  align-items: center;

  .avatar {
    @include size(58px, 58px, true);
    overflow: hidden;
    margin-right: 22px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .information {
    .name {
      @include text(DMS-B, 16px, 18px, var(--white-cl), uppercase);
      letter-spacing: 0.8px;
      margin-bottom: 6px
    }

    .role {
      @include text(DMS-R, 16px, 18px, var(--white-cl), uppercase);
      letter-spacing: 0.8px;
    }
  }
}

.company__logos {
  &-text {
    display: flex;
    align-items: center;
    flex-direction: column;

    .des {
      max-width: 486px;
      text-align: center;
    }
  }

  &-img {
    margin-top: 36px;
    @include midbetween();
  }

  @include sm {
    .heading {
      @include text(dmb, var(--fs-h2-m), var(--lh-h2-m), var(--ls-h2-m), var(--white-cl), none)
    }

    .des {
      @include body-1-m;
    }
  }
}

.back-to-top {
  position: fixed !important;
  right: 20px;
  display: block;
  line-height: 40px;
  text-align: center;
  width: 40px;
  height: 40px;
  visibility: hidden;
  filter: alpha(opacity=0);
  opacity: 0;
  z-index: 7779;
  cursor: pointer;
  z-index: 1;
  overflow: hidden;
  border-radius: 5px;
  background: var(--blue-cl);
  color: #fff;
  transition: var(--t);

  .fa-angle-up {
    &::before {
      content: "↑";
      display: inline-block;
      font-size: 22px;
      color: var(--white-cl);

    }
  }

  &:hover {
    background: var(--blueblack-cl);
    transition: var(--t);
  }

  &.active {
    bottom: 30px;
    opacity: 1;
    visibility: visible;
  }

  @include sm {
    right: 40px;
    width: 30px;
    height: 30px;
    line-height: 25px;

    .fa-angle-up {
      &::before {
        content: "↑";
        display: inline-block;
        font-size: 18px;
        color: var(--white-cl);

      }
    }
  }
}

.scrollheader {
  width: 100%;
  height: 5px;
  position: fixed;
  background: var(--blue-cl);
  z-index: 900;
  @include transition(var(--t))
}

.contact__input {
  label {
    @include text(dmb, var(--fs-label), var(--lh-label), var(--ls-label), var(--white-cl), uppercase);
    margin-bottom: 12px;
  }

  input {
    margin-top: 12px;
    width: 100%;
    background: var(--blueblack-cl);
    border-radius: 100px;
    padding: 20px 25px;
    outline: 0;
    border: 1px solid #010725;
    @include text(dmr, var(--fs-label), var(--lh-label), var(--ls-label), var(--white-cl), none);

    &::placeholder {
      color: #ffff;
    }
  }

  .input-message {
    display: grid;
    grid-column: span 2;

    textarea {

      background: var(--blueblack-cl);
      border-radius: 14px;
      height: 172px;
      padding: 20px 25px;
      outline: 0;
      border: 1px solid #010725;
      @include text(dmr, var(--fs-label), var(--lh-label), var(--ls-label), var(--white-cl), none);


      &::placeholder {
        color: #ffff;
      }
    }
  }

  .btnmain {
    width: fit-content;
    outline: 0;
    border: 1px solid #010725;
    margin-top: 52px;
  }
}

.popupvideo {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  @include mid(true);
  z-index: 900;
  @include visible(0);
  @include transition(var(--t));

  &.active {
    @include visible(1);
    @include transition(var(--t));
  }

  &__inner {
    width: 80%;
    height: 80%;
    max-width: 1200px;
    position: relative;
    @include mid(flase);

    &-iframe {
      position: relative;
      width: 100%;
      height: 0;
      padding-bottom: 56.25%;
      border: 5px solid var(--white-cl);
      @include mid(flase);

      iframe {
        position: absolute;
        width: 100%;
        height: 100%;
      }
    }

    &-close {
      position: absolute;
      right: -15px;
      top: -15px;
      border-radius: 50%;
      cursor: pointer;
      width: 25px;
      height: 25px;
      background-color: var(--beige-cl);
      @include mid(true);
      @include transition(var(--t));

      img {
        width: 50%;
        @include transition(var(--t));
      }

      &:hover {
        opacity: 0.7;
        @include transition(var(--t));
      }
    }

    @include sm {
      width: calc(100% - 20px);
      height: calc(100% - 20px);
    }
  }
}